div.btr-card{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
form.btr-card{
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
